<div class="container">
  <h1>All Heroes</h1>
  <ul class="list-group">
    <% @heros.each do |hero| %>
      <li class="list-group-item">
        <%= link_to hero.title, hero_path(hero)  %>
        <%= link_to "X", hero_path(hero), method: :delete %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Add new hero", new_hero_path, class: "btn btn-primary mt-3"  %>
</div>
