<div class="container">
  <h1>All Heroes</h1>
  <%= link_to "Add new hero", new_hero_path, class: "btn text-white bg-dark"  %>
  <div class="cards row justify-content-center">
    <% @heros.each do |hero| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 m-3 card-hero">
        <% if hero.photo.attached? %>
          <%= cl_image_tag hero.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <div class="card-hero-infos py-3 px-2">
          <h1><%= link_to hero.title, hero_path(hero) %></h1>
          <p><%= hero.superpower %></p>
          <button class="btn btn-book">BOOK US</button>
        </div>
      </div>
    <% end %>
  </div>
</div>

