<div class="banner image-fit">
  <div class="font-container">
    <h2 class="tag-line">Find your hero today...</h2>
  </div>
</div>
<!--
<div class="card-container">
  <div class="card">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium explicabo assumenda unde, nulla hic ipsam neque vero ab, labore ipsum! Sunt eveniet accusamus, accusantium cum praesentium, vero fuga laborum maiores non amet dignissimos odio, doloribus error itaque. Minima sequi, earum?
    </p>
  </div>
  <div class="card">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium explicabo assumenda unde, nulla hic ipsam neque vero ab, labore ipsum! Sunt eveniet accusamus, accusantium cum praesentium, vero fuga laborum maiores non amet dignissimos odio, doloribus error itaque. Minima sequi, earum?
    </p>
  </div>
  <div class="card">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium explicabo assumenda unde, nulla hic ipsam neque vero ab, labore ipsum! Sunt eveniet accusamus, accusantium cum praesentium, vero fuga laborum maiores non amet dignissimos odio, doloribus error itaque. Minima sequi, earum?
    </p>
  </div>
</div>
