<div class="main-container">

  <div class="banner image-fit">
    <div class="font-container">
      <h2 class="tag-line">Find your hero today...</h2>
    </div>
  </div>

</div>

 <%= render 'layouts/footer' %>

