.main-container {
  background-color: white;
  padding-bottom: 150px;
}

.cards-container {
  display: flex;
  justify-content: center;
  padding-top: 600px;
  padding-bottom: 250px;
  height: 300px;
  width: 100%;
}

.homepage-cards {
  text-align: center;
  height: 400px;
  h1 {
    font-size: 64px;
    font-weight: bolder;
    padding-bottom: 30px;
    font-family: $hero-font;
  }
  p {
    font-size: 30px;
    padding-bottom: 30px;
  }
  button {
    color: white;
    background-color: #F70103;
    height: 40px;
    width: 120px;
    // &:hover {
    //   font-style:
    // }
  }
}

.button-discover-red {
  color:white;
  background-color: #F70103;
  text-align: center;
  padding-top: 10px;
}
