.main-container {
  background-color: $medium-gray;
  padding-bottom: 150px;
}

.cards-container {
  display: flex;
  justify-content: center;
  padding-top: 600px;
  padding-bottom: 370px;
  height: 400px;
  width: 100%;
  align-self: center;
}

.homepage-cards {
  display: flex;
  justify-content: space-around;
  border: 6px black solid;
  height: 400px;
  width: 85%;
  margin: 40px;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  p {
    padding: 50px;
    display: flex;
    align-self: center;
  }
}
