.main-container {
  background-color: white;
  padding-bottom: 150px;
}

.cards-container {
  display: flex;
  justify-content: center;
  padding-top: 600px;
  padding-bottom: 250px;
  height: 300px;
  width: 100%;
}

.homepage-cards {
  text-align: center;
  height: 400px;
  h1 {
    font-size: 64px;
    font-weight: bolder;
    padding-bottom: 30px;
    font-family: $hero-font;
  }
  p {
    font-size: 30px;
    padding-bottom: 30px;
  }
  // button {
  //   color: white;
  //   background-color: #F70103;
  //   height: 40px;
  //   width: 120px;
  //   // &:hover {
  //   //   font-style:
  //   // }
  // }
}

.button-discover-red {
    width: 165px;
    height: 48px;
    border-radius: 25px;
    // border: solid 1px #F70103;
    // color: #F70103;
    // background-color: white;
    color:white;
    background-color: #F70103;
  // text-align: center;
  // padding-top: 10px;
  &:hover {
    color: white;
    box-shadow: -4px 4px black;
  }
}

.heros-title {
  font-family: $hero-font;
  padding-top: 50px;
}

// .heros-home-display {
//   padding-top: 50px;
// }
