.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border: 2px black solid;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.heroes-text {
  font-family: $hero-font;
  display: flex;

}

.fas {
  font-size: 24px;
  padding: 2px 0 0 10px;
  display: flex;
  align-items: center;
}
