.new-hero-form {
  padding-top: 100px;
  padding-bottom: 100px;
}

.new-hero-page {
  background-color: white;
  background-image: url("background-side.png");
}

.new-hero-submit-button {
  color: white;
  width: 100%;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}
