.heros-display {
  padding-top: 150px;
}

.mid-section{
  display:flex;
  padding-bottom:-10px;
  margin:0;
}

.cards {
  padding-top: 40px;
  width: 1900px;
  margin-left:0;
}
.row{
  margin-right:0;
  padding-bottom:5px;
}

img {
  box-shadow: rgba(0, 0, 0, 0.20) 0px 6px 16px;
  border-radius: 4px;
}
.position{
  width:200px;
  text-align:center;
}
// .top-row{
//   display:flex;
//   justify-content:space-between;
// }
