<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
  <%= simple_form_for [ @hero, @review ] do |f| %>
    <%= f.input :rating, collection: 0..5 %>
    <%= f.input :content %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>
