<footer class = "footer navbar-fixed-bottom pt-5">
  <div class = "size pt-3" style="background-color:white">
    <nav>
      <ul class = "d-flex justify-content-around bullets">
        <li><%=link_to "About", '#'%></li>
        <li><%=link_to "Contact Us", '#' %></li>
        <li><%=link_to "Community", '#' %></li>
        <li><%=link_to "Terms of Use", '#'%></li>
      </ul>
    </nav>
  </div>
</footer>
